/* You can add global styles to this file, and also import other style files */

.boldclass{
   font-weight: bold;
}

.italicclass{
    font-style: italic;
}
.colors{
    color: red;
    background-color: yellow;
}
