<h3>FERA LUXE SPACZ</h3>
<p>Property Listings</p>

<button class="btn btn-primary" [routerLink]="'/addprop'">Add Property</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Edit Operation</th>
            <th>Delete Operation</th>
        </tr>
    </thead>
    <tbody>
        @for(prop of properties;track prop.Id)
        {
            <tr>
                <td>{{prop.id}}</td>
                <td>{{prop.pname}}</td>
                <td>{{prop.ptype}}</td>
                <td>{{prop.price}}</td>
                <td>
                    <button label="edit" (click)="editProperty(prop.id)">edit </button>
                    
                </td>
                <td>
                    <button label="delete" (click)="deleteProperty(prop.id)">delete</button>
                </td>
            </tr>
        }
    </tbody>
    
</table>




