<p>Parent Component - Customer List</p>
<div>
<table>
    <thead>
        <tr>
            <th>Customer Number</th>
            <th>Customer Name</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @for(i of customers;track i.cusno)
        {
         <tr>
            <td>{{i.cusno}}</td>
            <td>{{i.name}}</td>
            <td>{{i.city}}</td>
            <td>
                <button (click)="showDetails(i)">Edit Customer</button>
            </td>
         </tr>
        }
    </tbody>
</table>

</div>

<h3>Child Component Customer Details</h3>
<app-childcomponentdetails [customer]="selectedCustomer" (customerChange)="update($event)"></app-childcomponentdetails>
